.git
.github
.env
.env.testing
vendor
node_modules
npm-debug.log
yarn-error.log
.phpunit.result.cache
phpunit.xml
tests
docker-compose.yml
Dockerfile
README.md
vercel.json
railway.json
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*